<!DOCTYPE html>
<html>
<head>
    <title>NetCoreHeroes</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <base href="@ViewData["AngularBase"]" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fork me on GitHub Stylesheet, see  https://github.com/simonwhitaker/github-fork-ribbon-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
</head>
<body>
    <my-app>Loading...</my-app>
    <a class="github-fork-ribbon" href="https://github.com/GeorgDangl/NetCoreHeroes" title="Fork me on GitHub">Fork me on GitHub</a>
    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/polyfills.js"></script>
    <script src="~/dist/main.js"></script>
</body>
</html>
