<hr/>
<a href="https://www.dangl-it.com">Georg Dangl</a>
-
<a href="https://blog.dangl.me">Blog</a>
<hr/>
<p>
    <strong>NetCoreHeroes Blog Series</strong>
</p>
<ul>
    <li>
        <a href="https://blog.dangl.me/archive/netcoreheroes-angular2-with-net-core-in-visual-studio-2015-part-i/">
            <strong>Part I</strong> - Visual Studio Setup &amp; Configuration
        </a>
    </li>
    <li>
        <a href="https://blog.dangl.me/archive/netcoreheroes-angular2-with-net-core-in-visual-studio-2015-part-ii/">
            <strong>Part II</strong> - Implementing the Angular Tour of Heroes Tutorial
        </a>
    </li>
    <li>
        <a href="https://blog.dangl.me/archive/netcoreheroes-angular2-with-net-core-in-visual-studio-2015-part-iii/">
            <strong>Part III</strong> - Creating Unit Tests in Visual Studio for Asp.Net Core and Angular
        </a>
    </li>
    <li>
        <a href="https://blog.dangl.me/archive/netcoreheroes-angular2-with-net-core-in-visual-studio-2015-part-iv/">
            <strong>Part IV</strong> - Configuring Jenkins Continuous Integration Services
        </a>
    </li>
    <li>
        <a href="https://blog.dangl.me/archive/netcoreheroes-angular2-with-net-core-in-visual-studio-2015-part-v/">
            <strong>Part V</strong> - Automating Deployment to Azure or IIS
        </a>
    </li>
</ul>
